<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.github.jknack.Antlr4.tool">
<stringAttribute key="antlr4.arguments" value="-listener -package digal -encoding UTF-8  -visitor"/>
<stringAttribute key="antlr4.grammar" value="/DiGaL/DiceGame.g4"/>
<stringAttribute key="antlr4.vmArguments" value=""/>
</launchConfiguration>
